@font-face {
   font-family: 'Gistesy';
   font-display: swap;
   src: url('file:///C:/Users/Baguio%20PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-30_234035/fonts/Gistesy/font.ttf');
}
